

.feed-container {
    display: flex;
    min-height: 100vh; 
    width: 100vw;
    padding-top: 5rem;
}

.box-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; 
    background-color: #490057; 
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: flex-start;
    padding-top: 2rem;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-left h1{
    font-size: 5rem;
    color: #FBB03B;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding-top: 1rem;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}



.navbar li {
    margin: 1rem 0;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.navbar a:hover {
    color: #FBB03B;
    cursor: pointer;
}


.li-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding-right: 10rem;
}

.li-icon i{
    color: white;
    font-size: 2rem;
}

.box-right {
    margin-left: 250px; 
    min-height: 100vh; 
    width: calc(100vw - 250px); 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    padding: 2rem;
}

.post-feed {
    width: 80%; 
    margin-bottom: 2rem;
    
}

