.post-container{
    min-height: 10vh; 
    width: calc(100vw - 250px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-form-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 50%;
    height: 20rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px; 
}

.post-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.post-avatar-textarea {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    width: 90%;
    gap: 2rem;
}

.post-avatar-textarea textarea {
    font-family: 'Quicksand', sans-serif; 
    font-size: 14px; 
    color: #490057;
}



.post-avatar-textarea textarea::placeholder {
    font-family: 'Quicksand', sans-serif; 
    font-size: 14px; 
    color: #888;
}

.post-avatar-textarea img {
    width: 5rem;
    height: 5rem;
    border-radius: 100rem;
    border: 0.4rem solid #A303A0; /* Define a largura, estilo e cor da borda */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.post-textarea {
    width: 90%;
    height: 10rem;
    border: none;
    text-decoration: none;
    outline: none; 
    resize: none;
    color: #490057;
}

.post-button-div{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: end;
    width: 90%;
    padding-top: 2rem;
}

.post-button {
    background-color: #A303A0;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    width: 7rem;
    height: 3rem;
    cursor: pointer;
}